/*
 * Bootstrap overrides
 */
a,
a:hover {
  color: #00c2ff;
}

h1, h2, h3, h4, h5, h6 {
  color: #00c2ff;
  text-shadow: 0 0 5px rgba(0,194,255,0.5);
}

/*
 * ingress.mx style overrides
 */
#brand_faction {
  color: #00c2ff;
  text-shadow: 0 0 2px rgba(0,194,255,0.5);
}

#agent_menu {
  color: #00c2ff;
}
